.App {
  text-align: center;
  background-image: url("./image2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: greenyellow;
}

/********************NAV*******************/
.navbar {
  font-family: fantasy;
}

/*******************MAIN*******************/
.main {
  max-width: 100%;
  background-color: rgba(22, 19, 19, 0.8);
  color: whitesmoke;
  text-shadow: 0.5px 0.5px aliceblue;
  text-align: center;
}

.img-circle {
  width: 100%;
  border-radius: 50%;
}

h4,
h5 {
  color: rgb(131, 128, 128);
}

/**********************PROJECTS**************/

.p {
  background-color: rgba(165, 152, 152, 0.8);
  max-width: 80%;
  margin: auto;
  margin-top: 2%;
}

.proj1 {
  background-image: url("./Images/flyer6.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: auto;
  max-height: auto;
}

.proj2 {
  background-image: url("./Images/studio.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/************************EDU***************/

.edu-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.fllstk {
  height: 500px;
}

.edu {
  padding-bottom: 5%;
}

.listgrp {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
}
/********************FOOTERT***************/

.button {
  padding-bottom: 5%;
  margin-top: 5%;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .fllstk {
    height: 200px;
  }
}
